body{
	background: rgba(47, 103, 177, 0.6);
    font-family: 'Roboto Slab', serif;
}
#nav_bar{
    padding-bottom: 40px;
}
#date_select {
    
    padding: 85px 0 90px;
    position: relative;
    background: url("https://cloudflare1.360gigapixels.com/pano/vishnu/00202012_crop-jpg/equirect_crop_3_1/6.jpg");
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#footer{
    background-color:#FDF6F0;
}
/*body{min-height:200vh;}*/
